<form action = "/checks/index" method="post">
  <p>
    <h2>Выберите метод проверки</h2>
    <input type="radio" name="method" value="palindrome">Палиндром
    <input type="radio" name="method" value="brackets">Скобки
  </p>
  <p>
    <h2>Введите текст</h2>
    <input type="text" name="text">
  </p>
  <input type="submit"/>
</form>

<% if !@data.nil? %>
  <h2>Ответ:
    <%= @data %>
   </h2>
<% end %>